.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_container {
	width: 100%;
	height: 100%;
	display: grid;
}

.max {
	width: 100%;
	height: 100px;
    grid-template-columns: 1fr 1fr;
}

.one {
	background-color: aqua;
}
.two {
	background-color: brown;
}

.three {
	background-color: blue;
}

.four {
	background-color: chocolate;
}

.five {
	background-color: cornflowerblue;
}

.six {
	background-color: darkslateblue;
}

@media (min-width: 768px) {
	.flex_container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1440px) {
	.flex_container {
		grid-template-columns: repeat(6, 1fr);
	}
}